<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/mobiloc</property>
        <property name="hibernate.connection.username">rainerdreyer</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
        
        <property name="hibernate.dialect">org.hibernatespatial.postgis.PostgisDialect</property>

        <property name="show_sql">true</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hbm2ddl.auto">create</property>

        <mapping class="org.mobiloc.lobgasp.model.SpatialObject"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.POI"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Pub"/>

        <mapping class="org.mobiloc.lobgasp.osm.model.WaySchema"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Road"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Building"/>
    </session-factory>
</hibernate-configuration>
